@font-face {
	font-family: 'Bellota-BoldItalic';
	src: url('../fonts/Bellota-BoldItalic.otf');
}
@font-face {
	font-family: 'Cookie';
	src: url('../fonts/Cookie-Regular.ttf');
}
@font-face {
	font-family: 'Courgette-Regular';
	src: url('../fonts/Courgette-Regular.ttf');
}
@font-face {
	font-family: 'Open Sans', sans-serif;
	src: url('../fonts/OpenSans-SemiBold.ttf');
}
:root{
    --clr-dark: #00332a;
    --primary-color:#fff;
    --secondary-color: #000;
    --third-color: #EFEFEF;
    --forth-color: #E4E6E9; 
    --foreground: var(--clr-dark);
    --border: #E5E5E5;
    --bordernav: #d1dcdf;
    --borders: #edeef0;
    --column:  rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    --cm-text: #F0F2F5;
    --third-colors:#EFEFEF;
    --five-color:#E4E6E9;
    --borderse: #7f848b;
    --body: #F0F2F5;
    --drop-hov: #D3D3D3;
}
.dark-theme{
    --body: #161818;
    --clr-light: #fdffc4;
    --bordernav: #363c3f;
    --primary-color:rgb(19, 15, 15);
    --secondary-color: #fff;
    --third-color: rgb(63, 60, 60);;
    --forth-color: #4c5c74; 
    --foreground: var(--clr-light);
    --border: #0a0101;
    --borders: #18191a;
    --third-colors:#1b1c1d;
    --cm-text: #303338;
    --five-color:#242526;
   /* --column: rgba(107, 115, 122, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;*/
   --column: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(32, 33, 36) 0px 0px 0px 1px inset;
   --drop-hov: #1c1f1f;
}

.icon-bar{
    color: var(--secondary-color);
    z-index: 1345;
}
  .i_img{

    color:wheat;
    text-decoration: none;


  }
.dark-mode-toggle {
    position: fixed;
    z-index: 100;
    bottom: 1rem;
    right: 1em;
    color: var(--foreground);
    border: 2px solid currentColor;
    padding: 4px;
    background: transparent;
    cursor: pointer;
    border-radius: 5px;
    width: 30px;
    height: 30px;
  }
.friends_hover:hover{
 color: blue;
}
.profilePicSmall{
height: 70px;
width: 70px;
border-radius: 17rem;
margin-right: 1rem;
}


#icons{
    height: 20px;
    width: 20px;
    color: black;
    top: -5px;
    position: relative;
    cursor: pointer;
}

.up-heading{
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 22px;
    color: rgb(255, 255, 255);
    font-weight: 600;
}
.up-box{
    background-color: rgb(160, 216, 238);
    padding: 5rem;
    width: 60%;
    height: 40%;
    transform: translate(33%, 19%);
    border-radius: 4rem;
}

.upload-box{
    font-size: 16px;
    background-color: white;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    width: 350px;
    transform: translate(19px, 10px);
    outline: none;
}
.upload-box:active{
    border: none;
    outline: none;
    opacity: 70%;
}
::-webkit-file-upload-button{
    color: rgb(49, 48, 48);
    background: #eee6e6;
    padding: 1.2rem 17px;
    border-radius: 50px;
    margin-right: 10px;
    outline: none;
    border: none;

}
::-webkit-file-upload-button:hover{
    background: #ddd6d6;
}
.accept_button{
    width: 160px;
    height: 35px;
    background-color: #597dac;
    color: var(--primary-color);
    border-radius: 2rem;
    outline: 0;
    border: none;
    margin: 5px;
    align-items: center;
    transform: translate(114px, 10px);
}
.accept_button:hover{
    background-color:  #5073a1;;
}
.up-text{
    margin-left: 5px;
    text-decoration: none;
}

.update_img{
    padding: 1rem 4rem;
    position: relative;
    left: 10.8rem;
    bottom: -12.4rem;
    z-index: 1;

    box-shadow: var(--column);
    text-decoration: none;
    overflow: hidden;
    transition: 2s all ease;
    
   
   
}
.update_img::before{
 background-color: var(--drop-hov);
    content: "";
    position: absolute;
    transition: all 0.6s ease;
    bottom:0rem;
    left: 0rem;
    z-index: -1;
  
  }
  .up-text :hover{
    color: white;
  }
.update_img::before{
    width: 0%;
    height: 100%;
  }
  
.update_img:hover::before{
    width: 100%;
    color: white;
  }

.settings_submit {
	border: none;
    border-radius: 5px;
    color: var(--secondary-color);
    padding: 1rem 4rem;
    background-color: var(--drop-hov);

    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    text-decoration: none;
    overflow: hidden;
    transition: .5s all ease;
    position: relative;
    width: 300px;
    left: 27rem;
    top:1rem;
    top:1rem;
}
.settings_submit:hover{
opacity: 70%;



}

.small_profile_pic {
    border: 5px solid  var(--primary-color);
    height: 200px;
    width: 200px;
    left: 30rem;
    position: relative;
    border-radius: 50%;
    background-size: 100% 100%;
    transition: 0,5s;
}
.in_text{
    padding: 17px 6px;
    position: relative;
    left: 10rem;
    width: 15rem;

    display: inline-block;
}


#settings_input {
    border: none;
    height: 20px;
    padding: 17px 17px;
    margin-bottom: 10px;
    width: 50%;
    font-size: 14px;
    border-bottom: 1px solid var(--border);
    line-height: 20px;
    transform: translate(63px, 0px);
    margin-left: 30px;
    background-color: var(--borders);
    border-radius: 1rem;
}

#settings_input:active{
border-radius: none;
outline: 0;

}
#settings_input:focus{
    border-radius: none;
    outline: 0;
  
}



.search {
	margin: 2px 0 0 8%;
   
}

.search #search_text_input {
    border: thin solid  var(--borders);
    float: left;
    height: 24px;
    outline: 0;
    width: 210px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    padding: 1.5rem;
    background-color: var(--primary-color);
}

.button_holder {
    border-top: thin solid var(--borders);
    border-right: thin solid var(--borders);
    border-bottom: thin solid var(--borders);
    cursor: pointer;
    float: left;
    height: 32px;
    text-align: center;
    width: 48px;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;

}

.button_holder i {
    padding-top: 8px;
    font-size: 15px;
    color: var(--borderse);
    
}

.search_results {
    border-bottom: none;
    border-top: none;
    margin-top: 46px;
    background-color: var(--primary-color);
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-decoration: none;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;

}

.search_results_footer{
	padding: 7px 5px 0px 5px;
    height: 40px;
    border: 1px solid #DADADA;
    border-top: none;
    background-color: var(--third-color);
    text-align: center;
    border-radius: 0px 0px 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    margin-left: -1px;
    margin-right: -1px;
}

.search_results_footer a {
	color: var(--secondary-color);
}

.search_result {
	padding: 10px;
    height: 100px;
}

.searchPageFriendButtons {
	float: right;
}

.searchPageFriendButtons input[type="submit"] {
	border: none;
    padding: 7px 12px;
    border-radius: 5px;
    color:  var(--secondary-color);
}

.result_profile_pic {
	float: left;
    margin-right: 10px;
}

#search_hr {
	margin-bottom: 0px;
}
.C{
    margin-left: 4px;
}
.info_user{

    position: absolute;
    width:25%;
    border-radius: 1rem;
    font-size: 20px;
    color: #abafb8;
    cursor: pointer;
    background-color: var(--primary-color);
    padding: 0 15px 15px 15px;
    border: 1px solid #e4ecee;
    margin-bottom: 20px;
    right: 0;
    top: -1.4rem;
    min-height: 20rem;
    transform: translate(31rem,0px);

}
.user_details_left_rights {
    font-size: 16px;
    line-height: 25px;
}
.user_details_left_rights a{
    color: var(--secondary-color);
    cursor: pointer;
    margin-right: 3px;

}
.user_details_left_rights i{
    color: #8C939D;
    margin-right: 3px;
    cursor: pointer;
}


.resultDisplayNotification {
	height: auto;
    min-height: 68px;
    color: #1485BD;
    padding-bottom: 7px;
    border-bottom: none;
}

.resultDisplayNotification img {
    height: 55px;
    width: 55px;
    border-radius: 4rem;
    margin: 1px 12px 5px 2px;
    float: left;
}
.post_form input[type="file"]{
    display: none;
}
.profile_post input[type="file"]{
    display: none;
}


.profile_post label {
    font-size: 40px;
    position: absolute;
    right: 22px;
    top: 64px;
    color: #abafb8;
    cursor: pointer;
}

.profile_post label:hover{
    color: #989ba1;
}
.profile_post label:active{
    color: #c5c9d1;
}


.main_column label{
    position: absolute;
    right: 180px;
    font-size: 40px;
    top: 19px;
    color: #abafb8;
    cursor: pointer;
 
}
.main_column label:hover{
    color: #989ba1;
}
.main_column label:active{
    color: #c5c9d1;
}



.postedImage img {
	max-height: 300px;
    max-width: 100%;
    display: block;
    margin: 5px auto;
}
.notification_badge {
	padding: 3px 6px;
	font-size: 12px;
	font-weight: 700;
	line-height: 1;
	color: var(--third-color);
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	background-color: #F00;
	border-radius: 10px;
	position: absolute;
	left: 10px;
	top: -10px;
}


.msg_top{
    font-size: 20px;
    padding: 1rem;
    padding-left: 1.5rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);


}

.timestamp_smallerss{
    display: block;
    font-size: 11px;
    text-decoration: none;
  
}


.dropdown_data_window {
    background-color: var(--primary-color);
    border-top: none;
    width: 345px;
    position: absolute;
    right: 47px;
    top: 65px;
    text-decoration: none;
    overflow-y: scroll;
    text-decoration: none;
    -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;
    border-radius: 10px;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.dropdown_data_window::-webkit-scrollbar-track
{
    background-color: var(--primary-color);
 
	border-radius: 10px;
}

.dropdown_data_window::-webkit-scrollbar
{
	width: 5px;

	background-color: #F5F5F5;
}

.dropdown_data_window::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(177, 191, 219)),
									   color-stop(0.72, rgb(180, 193, 207)),
									   color-stop(0.86, rgb(197, 204, 223)));
}
.dropdown_data_type{
    text-decoration: none;
}

.tab-content {
	margin-top: 25px;
}

.resultDisplay {
	padding: -1px 5px 0 5px;
	height: 60px;

}
.resultDisplay a {
	float: none;
}
.resultDisplay:hover {
    background-color: var(--drop-hov);
	text-decoration: none;
}
.liveSearchProfilePic img {
	height: 50px;
	border-radius: 25px;
	margin: 1px 12px 0 2px;
	float: left;
}

.liveSearchText {
	background-color: transparent;
	color: #1E96CA;
}

.liveSearchText p{
	margin-left: 10px;
	font-size: 12px;
}
#message_textarea {

    width: calc(100% - 50px);
    min-height: 42px;
    max-height: 120px;
    outline: none;
    border: 1px solid #E4E6E9;
    border-radius: 5px 0px 0px 5px;
   
}
.message {
	border-radius: 5px;
	padding: 6px 18px;
	display: inline-block;
	color: var(--secondary-color);
    word-wrap: break-word;
    word-break: break-all;
    font-family: inherit;
}

.message#blue {
    background:  var(--forth-color);
	float: right;
    border-radius: 18px 18px 0 18px;
	margin-bottom: 5px;
    margin-right: 20px;
    word-wrap: break-word;
 
}
.message#green {
    color: var(--secondary-color);
	border: 1px solid #E4E6E9;
	float: left;
	margin-bottom: 5px;
    margin-left: 20px;
    word-wrap: break-word;
    border-radius: 18px 18px 18px 0px;
}

.loaded_messages {
	height: 61.8%;
    min-height: 300px;
	max-height: 700px;
    margin-left: 30px;
	overflow-y: scroll;
	margin-bottom: 25px;
}
.loaded_messages::-webkit-scrollbar-track
{

	background-color: #F5F5F5;
	border-radius: 10px;
}

.loaded_messages::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.loaded_messages::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(177, 191, 219)),
									   color-stop(0.72, rgb(180, 193, 207)),
									   color-stop(0.86, rgb(197, 204, 223)));
}


.loaded_conversations {
	max-height: 400px;
	overflow-y: scroll;
    background-color: #F5F5F5;
    text-decoration: none;
}

.loaded_conversations::-webkit-scrollbar-track
{

	background-color: #F5F5F5;
	border-radius: 10px;
}

.loaded_conversations::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.loaded_conversations::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(177, 191, 219)),
									   color-stop(0.72, rgb(180, 193, 207)),
									   color-stop(0.86, rgb(197, 204, 223)));
}

.user_found_messages {
	padding: 8px 8px 10px 8px;
}

.user_found_messages:hover {
	background-color: var(--drop-hov);

    
}

.user_found_messages img {
	height: 35px;
	float: left;
}
#grey {
	color: #8C8C8C;
}

.fa-angle-double-up:hover{
    color: #17e628;
}
#message_submit {
    position: absolute;
    width: 47px;
    height: 42px;
    background:  var(--forth-color);
    outline: none;
    color: rgb(107, 93, 173);
    border: none;
    cursor: pointer;
    font-size: 20px;
    border: none;
    border-radius: 0px 5px 5px 0px;
}

body {
    background-color: var(--body);
    line-height: 17px;
}
.profile_info_bottom{
        text-align: center;
        margin-top: 1.5rem;
        align-items: center;
        padding: 1rem;
        width: 95%;
        border: 1px solid #d1dcdf;
        border-radius: 2rem;
        margin-left: 3%;
        color: #77a4af;
 
}
.profile_main_column {
    float: left;
    margin-top: -1.5rem;
  
    width: 75%;
    border-radius: 1rem;
}
.newsfeedPostOption {
    width: 105.6%;
    height: 50px;
    padding: 1rem;
    text-decoration: none;
    color: #20AAE5;
    cursor: pointer;
    border-top: 1px solid #edeef0;
    margin-left: -24px;
    border-bottom: 1px solid #edeef0;
    padding-left: 1rem;
}
.newsfeedPostOption iframe {
	border: 0px;
	height: 27px;
	width: 120px;
    cursor: pointer;

}
.columns {
    background-color: var(--primary-color);

    padding: 15px;
    min-height: 75rem;
    z-index: -1;
    margin-left: 3rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    
}

.delete_btn_style{
    display: block;
    margin-right: 20px;
    padding: .5rem 2rem .5rem 2rem;
    outline: none;
    color: var(--borderse);
    border: none;
    background-color:var(--third-colors);
    border-radius: .5rem;
    margin-top: 10px;
    float: right;
}
.delete_btn_style:hover{
    background-color:   var(--five-color);
    color: rgb(168, 48, 48);
}

.delete_btn_style:focus{
border: none;
}


.Cm_D{
    cursor: pointer;
    font-size: 13px;
}
.Cm_D i {
    cursor: pointer;
    font-size: 24px;
    color: #616871;
    padding-left: 1rem;
    margin-right: 1rem;
    top: -1.5px;
    position: relative;
}
.head_img{
    height: 25px;
    width: 25px;
    border-radius: 25px;
    margin: 0;
    padding: 0;
    outline: 0;
    margin-right: -15px;
}
.style_s{
    font-size: 13px;
    margin-left: 8px;
    color: gray;
   
}
.cm_im{
    border-radius: 25px;
    margin: 0px 5px 0px 0px;
   

}
.cm_text{
    position: relative;
    top: 10px;
    padding: .4rem .8rem .4rem .8rem;
    bottom: 1px;
    text-align: justify;
    display: inline-block;
    border-radius: 1rem;
    margin-left: 2rem;
    background-color: var(--cm-text);
    line-height: 20px;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;

}
.top_bar {
    width: 100%;
    background-color:var(--primary-color);
    box-shadow: rgba(50, 50, 105, 0.15) 0px 0px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    margin: 0 0 10px 0;
    display: inline-flex;
    padding: 1rem 0rem;
    position: fixed;
    height: 55px;
    z-index: 10;
    border-bottom: 1px solid var(--bordernav);
}

.logo a{
    font-size: 3rem;
    text-decoration: none;
    font-family: 'Cookie','Courgette-Regular';
    position: relative;
    left: 8rem;
    text-shadow: #c2c8cc 0.5px 0.5px 0px;
    color: var(--secondary-color);
    top: -3px;
}


.logo a:hover {
	text-decoration: none;

}

nav {
	float: right;
	right: 1px;
	position: absolute;
	margin: 10px;
	top: 0rem;
}

nav a{
	position: relative;
	color: var(--secondary-color);
	text-decoration: none;
	font-size: 20px;
	margin-right: 17px;
	margin: 11px; 
}

.U_N{
    font-size: 18px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.U_N:active{
    color: rgb(124, 102, 248);
}
.U_P{
    height: 35px;
    width: 35px;
    margin: 5px 2px 5px 0px;
}
.U_T{
    margin-top: -4px;
}
nav a:hover{
    text-decoration: none;
}

.wrapper {
	margin: 0 auto;
	top: 80px;
	position: relative;
	padding: 0 10px;
	width: 75%;
	min-width: 950px;
}

.column {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 10px;
    box-shadow: var(--column);
    z-index: -1;
}

.user_details {
    width: 24%;
    border-radius: 2rem;
    float: left;
    margin-bottom: 20px;
 

}
.user_details a:hover{
    text-decoration: none;
}

.user_details img {
	height: 120px;
    border-radius: 2rem;
    margin-right: 1.5rem;
}

.user_details_left_right {
    width: 11%;
    display: inline-block;
    position: absolute;
    top: 17px;
    font-size: 14px;
    line-height: 25px;
}
.user_details_left_right a{
    color: var(--secondary-color);
    font-weight: 600;
    font-size: 17px;
}

.main_column {
	float:right;
	width: 73%;
	z-index: -1;
	min-height: 510px;
	border-radius: 2rem;
}

.post_form{
    width: 100%;
    margin-bottom: 2rem;
}
.post_form textarea{
    width: 80%;
    border-radius: 1rem;
    font-size: 14px;
    height: 60px;
    background-color:var(--third-colors);
    border: none;
    margin-right: 5px;
    padding: 0.5rem;
    margin: 0 15px 0 15px;
}
.post_form textarea:hover{
    background-color:   var(--five-color);
}
textarea:focus{
    outline: 0;
}
.post_form ::placeholder{
    font-size: 14px;
    padding: 0.2rem;
}
.post_form input[type="submit"]{
    width: 8%;
    border: none;
    height: 60px;
    border-radius: 1rem;
    outline: 0;
    margin: 0;
    font-size: 16px;
    padding: 5px;
    position: absolute;
    font-weight: 600;
    color:var(--borderse);
    transition: .1s;
    background-color:var(--third-colors);
}
.post_form input[type="submit"]:active{
    background-color: var(--primary-color);
    border:1px solid var(--borders);
}

.main_column ::placeholder{
    font-size: 16px;
}
.drop-btn {
    position: relative;
    display: inline-block;
    font-size: 26px;
}
nav .drop-menu{
    position: absolute; 
    top: 5.5rem;
    width: 260px;
    display: flex;
    overflow: hidden;
    border-radius: 5px;
    background-color: var(--primary-color);
    box-shadow: 1px 2px 1px #eee;
    border: 1px solid var(--borders);
    transition: all 0.2s ease;
    left: 12rem;
    
}

nav .display{
    display: none;
}

nav .drop-menu .show{
    display: block;
    display: flex;
    display: none;
}
nav .drop-menu .settings-drop,
nav .drop-menu .help-drop{
    display: none;
}


nav .drop-menu ul {
    list-style: none;
    width: 260px;
    padding: 10px;
    transition: all 0.2s ease;
}
nav .drop-menu ul li {
    line-height: 45px;
}
nav .drop-menu ul li a{
    position: relative;
    text-decoration: none;
    display: flex;
    font-weight: 500;
    padding: 0 10px;
    font-size: 15px;
    align-items: center;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    
}
nav .drop-menu ul li:hover a{
    background-color:  var(--forth-color);
}
.drop-menu ul li a .icon{
    height: 35px;
    width: 35px;
    text-align: center;
    align-items: center;
    margin-right: 13px;
    font-size: 15px;
    display: flex;
    border-radius: 50%;
    border: 1px solid #e4ecee;
    justify-content: center;
 
}
.drop-menu ul li a i{
    position: absolute;
    right: 12px;
    font-size: 22px;
    pointer-events: none;

}
.drop-menu ul .arrow{
    padding-left: 10px;
    cursor: pointer;
    font-weight: 500;
}
.drop-menu ul  .arrow span{
    margin-right: 22px;
    height: 35px;
    width: 35px;
    display: inline-flex;
    text-align: center;
    align-items: center;
    font-size: 15px;
    border-radius: 50%;
    margin-left: 10px;
    justify-content: center;
    
}
.drop-menu ul .arrow span:active{
    background-color:  var(--forth-color);
}
.status_post{
    width: 90%;
    min-height: 75px;
    padding: 0px 5px;
    font-size: 15px;
 

}

.post_profile_pic{
    float: left;
    margin-right: 8px;
}
.post_profile_pic img{
    vertical-align: middle;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.s_styles{
    font-size: 12px;
    padding-left: 4px;
}


.posted_by a{
    
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
   
    
}
#post_body{
   
    margin-right: 1rem;
    width: 111%;
    padding: .5rem;
    display: inline-block;
}

#comment_iframe{
    width: 100%;
    height:33rem;
    background-color: var(--primary-color);
}
.comment_section {
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
.comment_section a {
    padding: 0px 0px 3px 0px;
    color: var(--secondary-color);
    font-size: 14px;
    text-decoration: none;
}
.comment_section a:hover{
   text-decoration: underline;
}

#comment_form button[type="submit"]{
    position: absolute;
    width: 47px;
    height: 42px;
    background:  var(--third-color);
    outline: none;
    color: var(--borderse);
    border: none;
    cursor: pointer;
    font-size: 20px;
    border: none;
    border-radius: 0px 5px 5px 0px;
    right: 10px;
    top: 9px;
  
}
#comment_form button[type="submit"]:active{
  
color: #7ba8ec;
    border-left: none;

}

#comment_form button i{
    font-size: 18px;
}

#comment_form textarea{
    position: relative;
    width: calc(100% - 50px);
    height: 42px; 
    outline: none;
    border: none;
    border-radius: 5px 0px 0px 5px;
    background-color:var(--primary-color);
    color: var(--secondary-color);

}

#comment_form ::placeholder{
    font-size: 14px;
    padding: 0.2rem;
}

.text_focu_s{
    outline: 0;
  
    
}

.newsfeedPostOptions {
    width: 105.2%;
    height: 50px;
    padding: 1rem;
    text-decoration: none;
    color: #20AAE5;
    cursor: pointer;
    border-top: 1px solid var(--borders);
    margin-left: -20px;
    border-bottom: 1px solid var(--borders);
    padding-left: 1rem;
}

.newsfeedPostOptions iframe {
	border: 0px;
	height: 27px;
	width: 120px;
    cursor: pointer;

}

.comment_like {
	background-color: transparent;
	border: none;
	font-size: 14px;
	color: #ED4956;
	padding: 0;
	height: auto;
	width: auto;
    cursor: pointer;
	margin: 0;
    transition: all ease .2s;
}


.like_value {
	display: inline;
	font-size: 15px;
    color:var(--borderse);
}
.profile_left {
	top: -25px;
	width: 20%;

	height: 100%;
	float: left;
	position: relative;
    
	color: var(--secondary-color);
 
}

.profile_left img {
	min-width: 80px;
	width: 55%;
	margin: 42px;
	border: 5px solid #dbe2e6;
	border-radius: 100px;
    margin-left: 55px;
}
.profile_info {

	width: 100%;
	padding: 10px;
    list-style: none;
    font-size: 17px;
    margin-bottom: .5rem;
    display: inline-flex;
    text-align: center;
 
}
.profile_info p {
	
	word-wrap: break-word;
    padding: 10px;
    text-align: center;
}
.profile_left h4{
    font-weight: 600;
    text-align: center;
    margin-top: -26px;
    margin-bottom: 30px;
    color: var(--secondary-color);
    word-wrap: break-word;
}
.profile_left input[type="submit"]{
    outline: 0;
    width: 95%;
    border: 1px solid #d1dcdf;
    border-radius: 2rem;
    height: 6%;
    text-align: center;
    padding: .5rem;
    margin-left: 3%;
    background-color:var(--primary-color); 
 
}
.profile_left input[type="submit"]:active{
 
    background-color:#d1dcdf ;
 
}
.danger{
    color: rgb(168, 48, 48);
}

#accept_button{
    width: 20%;
    height: 35px;
    background-color: #1771E6;
    color: var(--primary-color);
    border-radius: 2rem;
    outline: 0;
    border: none;
    margin: 5px;
}
#accept_button:hover{
  opacity: 90%;
}
#ignore_button:hover{
    background-color:#d0e2e7;
}
#ignore_button{
    width: 20%;
    height: 35px;
    background-color:var(--primary-color);
    border: 1px solid #d1dcdf;
    color: rgb(168, 48, 48);
    border-radius: 2rem;
    outline: 0;
    
}



